.header {
  width: 100%;
  height: 72px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  position: relative;
  top: auto;
  z-index: 999;
}

/* LOGO */
.left {
  font-size: 22px;
  font-weight: 700;
  color: #2563eb;
}

/* MENU GIá»®A */
.center {
  display: flex;
  gap: 32px;
}

.menuItem {
  text-decoration: none;
  color: #1f2933;
  font-weight: 500;
  padding: 6px 4px;
  position: relative;
  transition: 0.2s;
}

.menuItem:hover {
  color: #2563eb;
}

/* ACTIVE */
.active {
  color: #2563eb;
  font-weight: 700;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #2563eb;
  border-radius: 2px;
}

/* RIGHT */
.right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.login,
.register {
  padding: 8px 18px;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
}

.login {
  border: 1px solid #2563eb;
  color: #2563eb;
}

.register {
  background: #2563eb;
  color: #fff;
}

.logout {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 999px;
  cursor: pointer;
}
.login,
.register,
.logout {
  font-family: inherit;
  font-weight: 600;
}
