.wrapper {
  max-width: 900px;
  margin: 24px auto;
}

.tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;

  button {
    padding: 10px 16px;
    border: none;
    background: #e5e7eb;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
  }
}

.active {
  background: #288eaa !important;
  color: #fff;
}

.card {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e5e7eb;
}

h3 {
  margin-bottom: 4px;
  padding: 8px 0;
}

.note {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 16px;
  padding: 0 8px;
}

.noteRequired::before {
    content: "(*) ";
    color: #dc2626;
}
.required::after {
    content: " *";
  color: #dc2626;
}

.formGroup {
  margin-bottom: 16px;

  label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
  }
}

.formGroupInline {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  margin-bottom: 16px;

  label {
    font-weight: 500;
  }

  input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
  }
}

.saveBtn {
  background: #16a34a;
  color: #fff;
  border: none;
  padding: 10px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}
