.footer {
  width: calc(100% - 250px); /* chừa phần sidebar */
  margin-left: 250px;
  height: 50px;
  background-color: #f8f9fa;
  border-top: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #555;
  bottom: 0;
  left: 0;
  z-index: 10;
}

/* Bên trái */
.footerLeft {
  strong {
    color: #2a3f54; /* tông xanh trầm đồng bộ sidebar */
  }
}

/* Bên phải */
.footerRight {
  font-size: 13px;
  color: #888;
}

