.wrapper {
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  margin: 10px 0;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: flex;
  gap: 16px;
  padding: 16px;
  border: 1px solid #359862;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 8px;
}

.center {
  flex: 1;
}

.jobTitle {
  font-size: 16px;
  font-weight: 700;
  display: flex; 
}

.verify {
  color: #e11d48;
  margin-left: 6px;
}

.company {
  font-size: 14px;
  color: #6b7280;
}

.meta {
  display: flex;
  gap: 12px;
  font-size: 13px;
  margin-top: 4px;
}

.update {
  font-size: 12px;
  color: #9ca3af;
  margin-top: 4px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.salary {
  font-weight: 700;
  color: #2e55c0;
}

.applyBtn {
  background:#2e55c0;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}
.applyBtn:hover {
  background:#172f71;
  color: #cfd0d1;
}

.heart {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
