/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL FONT + COLOR */
html,
body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  background-color: #dae9f3; /* nền be sáng */
  color: #0f172a;
}
* {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

/* FIX BUG RECHARTS ĐÈ CLICK */
#recharts_measurement_span {
  pointer-events: none !important;
  position: absolute !important;
  top: -99999px !important;
  left: -99999px !important;
}

html,
body,
#root {
  pointer-events: auto !important;
}
