.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #24344d; /* xanh đậm */
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
}
h4 {
  font-size: 14px;
}

/* -------- HEADER (logo/title) -------- */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fff;

  svg {
    font-size: 24px;
    margin-right: 8px;
  }
}

/* -------- PROFILE -------- */
.profile {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin-bottom: 8px;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 12px;
    object-fit: cover;
  }

  .userInfo {
    display: flex;
    flex-direction: column;

    span {
      font-size: 14px;
      color: #bfc9d4;
    }

    p {
      font-size: 18px;
      font-weight: 600;
      margin: 3px 0 0;
      color: #fff;
    }
  }
}

/* -------- MENU CHÍNH -------- */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  flex: 1;

  .sectionTitle {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #bfc9d4;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 12px 20px;
      color: #ddd;
      text-decoration: none;
      font-size: 15px;
      transition: all 0.3s;

      svg {
        font-size: 18px;
      }

      &:hover {
        background: #1abb9c;
        color: #fff;
      }
    }
  }

  .active {
    background: #037b75;
    color: #fff;
    border-left: 6px solid  #1abb9c;
  }
}

/* -------- SCROLLBAR -------- */
.sidebar::-webkit-scrollbar {
  width: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}
