:root{
    /* Primary Colors */
    --primary-c: #2563EB;
    --primary-hover: #1D4ED8;
    --secondary-c: #10B981;
    
    /* Background Colors */
    --bgr-c: #F8FAFC;
    --section-bgr: #FFFFFF;
    --card-bgr: #FFFFFF;
    
    /* Text Colors */
    --text-c: #111827;
    --text-secondary: #6B7280;
    
    /* Border Colors */
    --border-c: #E5E7EB;
    
    /* Status Colors */
    --error-c: #EF4444;
    --warning-c: #F59E0B;
    --success-c: #10B981;
}
/* === INTER FONT FAMILY === */
@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/Inter_18pt-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/Inter_18pt-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

// @font-face {
//   font-family: 'Inter';
//   src: url('../../fonts/Inter/Inter_18pt-SemiBold.ttf') format('truetype');
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Inter';
//   src: url('../../fonts/Inter/Inter_18pt-SemiBoldItalic.ttf') format('truetype');
//   font-weight: 600;
//   font-style: italic;
// }

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/Inter_18pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/Inter_18pt-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* === GLOBAL FONT APPLY === */
html, body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--text-c);
  background-color: var(--bgr-c);
}

*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.5;
}

a[href]{
    text-decoration: none;
    color: var(--text-c);
}
input,
button{
    outline: none;
    border: none;
}