:root{
    --primary-c: #4582ff;
    --bgr-c: #F7F6F5;
    --text-c:#342d47;
    --section-bgr:#FCFCFC;
    --border-c: #545454;
}
/* === INTER FONT FAMILY === */
@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/Inter_18pt-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/Inter_18pt-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

// @font-face {
//   font-family: 'Inter';
//   src: url('../../fonts/Inter/Inter_18pt-SemiBold.ttf') format('truetype');
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Inter';
//   src: url('../../fonts/Inter/Inter_18pt-SemiBoldItalic.ttf') format('truetype');
//   font-weight: 600;
//   font-style: italic;
// }

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/Inter_18pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/Inter_18pt-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* === GLOBAL FONT APPLY === */
html, body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--text-c);
  background-color: var(--bgr-c);
}

*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.5;
}

a[href]{
    text-decoration: none;
    color: var(--text-c);
}
input,
button{
    outline: none;
    border: none;
}